body {
    position: relative;
}

.container {

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.googlesearchbox {
    width: 60vw;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1.5em;
    border-radius: 25px;
    border: 1px #cac9c9 solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.googlesearchbox:hover {
    box-shadow: 0 0 10px #ccc;
}

.googleinputbox {
    width: 100%;
    border: none;
    font-size: large;
}
.googleinputbox:focus {
    outline: none;
}

.googlebuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.gbuttons {
    background-color: #f8f9fa;
    color: #202124;
    border-radius: 4px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    margin: 0 1rem 0 1rem;
    font-size: 0.9rem;
}

.gbuttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.navbar {
    position: absolute;
    width: 100%;
    
}

.navbar ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    
}

.navbar li {
    font-size: small;    
    margin: 1em;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a:hover{
    text-decoration: underline;
}

.navbar li .signin {
    background-color: #2b7de9;
    padding: 1em 2.5em 1em 2.5em;
    color: white;
    border-radius: 4px;
}

.navbar li .signin:hover {
    text-decoration: none;
    background-color: #2b7de9de;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);;
} 

.navbar li .appsIco:hover {}
